template(name='nav')
    .ui.attached.fluid.borderless.topnav.menu
        //- a.icon.item.toggle_sidebar
        //-     i.large.bars.icon
        //- a.header.item(href='/grid' class="{{active_path '/grid'}}" title='apps')
        //-     i.large.th.icon
        a.header.item(href='/' class="{{active_path '/'}}" title='models')
            +icolor name='hammer-and-anvil' 
            |Vulcan
        a.icon.item.mobile.hidden.internship(href="/m/internship" class="{{active_path '/m/internship'}}" title='internships')
            +icolor name='work'
        a.icon.item.mobile.hidden.business(href="/m/business" class="{{active_path '/m/business'}}" title='businesses')
            +icolor name='business'
        a.icon.item.mobile.hidden.school(href="/m/school" class="{{active_path '/m/school'}}" title='businesses')
            +icolor name='school'
        //- if in_role 'admin'
        a.icon.item.mobile.hidden.student(href='/m/student' class="{{active_path '/m/student'}}" title='students')
            +icolor name='students'
        a.icon.item.mobile.hidden.teacher(href='/m/educator' class="{{active_path '/m/educator'}}" title='educators')
            +icolor name='teacher'
        //- if in_role 'teacher'
        //-     a.icon.item.mobile.hidden(href="/development" class="{{active_path '/development'}}" title='development')
        //-         i.line.chart.large.icon
        //- //- if in_role 'student'
        //- //-     a.icon.item.mobile.hidden(href="/m/internship" class="{{active_path '/m/internship'}}" title='internships')
        //- //-         +icolor name='work'
        //- if in_role 'business'
        //-     a.icon.item.mobile.hidden(href="/development" class="{{active_path '/development'}}" title='development')
        //-         i.line.chart.large.icon
        .right.menu
            if is_admin 
                a.icon.item.mobile.hidden(href='/m/model' class="{{active_path '/m/model'}}" title="admin")
                    i.shield.large.icon
                
            //- a.icon.item.mobile.hidden(href='/cart' class="{{active_path '/cart'}}" title="shopping cart #{cart_amount} items")
            //-     i.shopping.cart.large.icon
            a.mobile.hidden.icon.item(href='/m/task' class="{{active_path '/m/task'}}" title='tasks') 
                i.tasks.large.icon
            a.mobile.hidden.icon.item(href='/m/event' class="{{active_path '/m/event'}}" title='events') 
                i.calendar.large.icon
            a.icon.item(href='/m/message' class="{{active_path '/m/message'}}" title='chat') 
                i.chat.outline.large.icon
            a.icon.item(href='/m/alert' class="{{active_path '/m/alert'}}" title='alerts') 
                i.bell.large.icon(class=alert_icon_class)
        if currentUser
            //- a.item(href="/user/#{currentUser.username}/karma")
            //-     |#{currentUser.karma}
            //-     //- i.line.chart.icon
            a.item(href="/user/#{currentUser.username}") 
                i.user.icon
                |#{currentUser.username}
        else 
            a.item(href="/login")
                i.sign.in.alternate.icon
                |login


template(name='bottom_nav')
        if in_role 'admin'
            .ui.bottom.fixed.menu
                a.icon.item.go_home(href='/' class="{{active_path '/'}}" title='models')
                    i.large.home.icon
                a.icon.item.mobile.hidden(href='/users' class="{{active_path '/users'}}" title='users')
                    i.large.users.icon
        if in_role 'business'
            .ui.bottom.fixed.six.item.menu.mobile.only
                a.icon.item(href='/business_home' class="{{active_path '/business_home'}}" title='home')
                    i.home.icon
                a.icon.item(href='/business_clients' class="{{active_path '/business_clients'}}" title='clients')
                    i.database.icon
                a.icon.item(href='/business_onboarding' class="{{active_path '/business_onboarding'}}" title='onboarding')
                    i.arrow.up.icon
                a.icon.item(href='/mail' class="{{active_path '/mail'}}" title='mail')
                    i.chat.icon
                a.icon.item(href='/search' class="{{active_path '/search'}}" title='search')
                    i.search.icon
                a.icon.item(href='/business_profile' class="{{active_path '/business_profile'}}" title='search')
                    i.user.outline.icon
            .ui.bottom.fixed.six.item.labeled.icon.menu.mobile.hidden
                a.item(href='/business_home' class="{{active_path '/business_home'}}" title='home')
                    i.home.icon
                    |home
                a.item(href='/business_clients' class="{{active_path '/business_clients'}}" title='clients')
                    i.database.icon
                    | clients
                a.item(href='/onboarding' class="{{active_path '/business_home'}}" title='home')
                    i.arrow.up.icon
                    | onboarding
                a.item(href='/chat' class="{{active_path '/chat'}}" title='home')
                    i.chat.icon
                    | mail
                a.item(href='/search' class="{{active_path '/search'}}" title='search')
                    i.search.icon
                    | search
                a.item(href='/business_profile' class="{{active_path '/business_profile'}}" title='search')
                    i.user.outline.icon
                    | profile
                
        if in_role 'student'
            .ui.bottom.fixed.six.item.menu.mobile.only
                a.icon.item(href='/student_home' class="{{active_path '/student_home'}}" title='home')
                    i.home.icon
                a.icon.item(href='/student_schedule' class="{{active_path '/student_schedule'}}" title='clients')
                    i.calendar.icon
                a.icon.item(href='/student_tasks' class="{{active_path '/student_tasks'}}" title='tasks')
                    i.arrow.up.icon
                a.icon.item(href='/student_development' class="{{active_path '/student_development'}}" title='home')
                    i.line.chart.icon
                a.icon.item(href='/student_mail' class="{{active_path '/student_mail'}}" title='mail')
                    i.chat.icon
                a.icon.item(href='/student_profile' class="{{active_path '/student_profile'}}" title='profile')
                    i.user.outline.icon
            .ui.bottom.fixed.six.item.labeled.icon.menu.mobile.hidden
                a.item(href='/student_home' class="{{active_path '/student_home'}}" title='home')
                    i.home.icon
                    | home
                a.item(href='/student_schedule' class="{{active_path '/student_schedule'}}" title='clients')
                    i.calendar.icon
                    | schedule
                a.item(href='/student_tasks' class="{{active_path '/student_tasks'}}" title='tasks')
                    i.checkmark.icon
                    | tasks
                a.item(href='/student_development' class="{{active_path '/student_development'}}" title='home')
                    i.line.chart.icon
                    | development
                a.item(href='/student_mail' class="{{active_path '/student_mail'}}" title='mail')
                    i.chat.icon
                    | mail
                a.item(href='/student_profile' class="{{active_path '/student_profile'}}" title='profile')
                    i.user.outline.icon
                    | profile
            
        if in_role 'teacher'
            .ui.bottom.fixed.six.item.menu
                a.icon.item(href='/student_home' class="{{active_path '/student_home'}}" title='home')
                    i.home.icon
                a.icon.item(href='/student_schedule' class="{{active_path '/student_schedule'}}" title='clients')
                    i.database.icon
                a.icon.item(href='/teacher_students' class="{{active_path '/teacher_students'}}" title='tasks')
                    i.users.icon
                a.icon.item(href='/student_development' class="{{active_path '/student_development'}}" title='home')
                    i.building.icon
                a.icon.item(href='/student_mail' class="{{active_path '/student_mail'}}" title='mail')
                    i.chat.icon
                a.icon.item(href='/student_profile' class="{{active_path '/student_profile'}}" title='profile')
                    i.user.outline.icon
            
            

template(name='footer')
    .ui.stackable.padded.grid.secondary.segment.mobile.hidden
        .row
            .four.wide.column
                //- .ui.link.large.list
                //-     a.item(href='/p/about')
                //-         | what is dao?
                //-     //- a.item(href='/prime')
                //-     //-     | forest prime
                //-     a.item(href="/p/terms") 
                //-         | terms of service
                //-     a.item(href="/p/privacy") 
                //-         | privacy policy
                //-     //- a.item(href='/sponsor') 
                //-     //-     | sponsor
            .four.wide.column
                .ui.selection.animated.list
                    if is_admin
                        a.item(href='/m/model' class="{{active_path '/m/model'}}")
                            i.database.icon
                            |models
                    a.icon.item(href='/m/internship' class="{{active_path '/m/internship'}}")
                        +icolor name='work' classes='ui avatar image'
                        |internships
                    a.icon.item(href='/m/business' class="{{active_path '/m/business'}}")
                        +icolor name='business' classes='ui avatar image'
                        |businesses
                    a.icon.item(href='/m/event' class="{{active_path '/m/event'}}")
                        +icolor name='calendar' classes='ui avatar image'
                        |events
                    a.icon.item(href='/m/message' class="{{active_path '/m/message'}}")
                        +icolor name='chat' classes='ui avatar image'
                        |mail
                    a.icon.item(href='/m/alert' class="{{active_path '/m/alert'}}")
                        //- i.bell.icon(class=alert_icon_class)
                        i.rss.icon
                        |alerts
                if currentUser
                    .ui.link.large.list
                        a.item(href='/users')
                            i.users.icon
                            | users
                unless currentUser
                    .ui.link.large.list
                        a.item(href='/login')
                            |login



            .four.wide.column

                //- +footer_chat
                //- if is_admin
                with currentUser
                    +role_switcher
            .four.wide.column
                +bug_reporter 
                .ui.grey.small.header    
                    i.copyright.outline.icon 
                    |2020 vulcan technologies, llc
            //- 
template(name='footer_chat')
    a.ui.grey.header(href="/chat")
        i.chat.outline.small.icon
        |chat
        //- .scroll
    .ui.comments
        each chat_messages
            .comment(title="by #{_author_username} #{when}")
                //- if author.image_id
                //-     img.ui.avatar.image(src="{{c.url author.image_id width=200 height=200 gravity='face' crop='fill'}}")
                .content
                    a.author #{_author_username}
                    .metadata
                        span.date #{when}
                    .text
                        |#{text}
                if is_author
                    span
                        i.remove.link.icon.remove_message
    .ui.bottom.attached.fluid.icon.transparent.input
        i.plus.icon
        input.new_footer_chat_message(type='text' placeholder='add message')


template(name='bug_reporter')
    a.ui.small.grey.header.start_report(href="#")
        i.bug.small.icon
        |report bug
    if reporting_bug
        with new_bug
            |#{pathname}
            +text_edit key='text' direct=true
            .ui.icon.fluid.button.submit_report
                i.checkmark.icon
            .ui.small.icon.button.cancel_bug
                i.remove.icon




template(name='my_latest_activity')
    .ui.grey.header 
        i.grey.rss.icon
        |your activity
    .ui.list
        each my_latest_activity
            .item 
                img.ui.avatar.image(src="{{c.url author.image_id width=200 height=200 gravity='face' crop='fill'}}")
                |#{text} #{body}
                small #{when}



template(name='role_switcher')
    //- .ui.inline.center.aligned.small.grey.header 
    //-     |#{username} role switcher
    //- if is_eric
    //-     +multi_doc key='roles' label='roles' ref_model='role' direct=true
    //-     div
        //- +user_array_element_toggle key='roles' value='dev' user=currentUser
    //- if current_user
    //-     with current_user
    //- else if currentUser
    //-     with currentUser
    //- +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
    //- if is_admin
        //- +multi_doc_edit key='roles' label='current roles' ref_model='role' direct=true
    //- +user_array_element_toggle key='roles' value='admin' user=currentUser
    //- +user_array_element_toggle key='roles' value='staff' user=currentUser
    if is_dev
        //- +user_array_element_toggle key='roles' value='dev' user=currentUser
        +user_array_element_toggle key='roles' value='admin' user=currentUser
    +user_array_element_toggle key='roles' value='student' user=currentUser
    +user_array_element_toggle key='roles' value='business' user=currentUser
    +user_array_element_toggle key='roles' value='teacher' user=currentUser
    //- +user_array_element_toggle key='roles' value='parent' user=currentUser
