template(name='module_modules')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.inline.header 
                    //- +i name='classroom'
                    |module
                .ui.icon.button.add_module(title='add module')
                    i.plus.icon
            .twelve.wide.column
                .ui.stackable.three.cards
                    each module_modules
                        +module_card

template(name='module_card')
    //- .ui.card    
    a.ui.card(href="/module/#{_id}/view")
        if image_id
            img.ui.fluid.image(src="{{c.url image_id width=400 height=200 crop='fill'}}")
        else if icon 
            +ilarge name=icon
        .content
            .ui.inline.header #{title}
            div
            |#{student_ids.length} students
            div
            each tags 
                .ui.small.basic.label #{this}
            //- i.dollar.icon
            //- a.ui.large.button(href="/module/#{_id}")
            //-     i.yellow.right.chevron.icon
                    
template(name='module_edit')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .four.wide.column 
                    .ui.header(title="edit '#{title}' module")
                        i.pencil.icon
                    a.ui.fluid.icon.button(href="/module/#{_id}/view" title='save')
                        i.checkmark.large.icon
                        //- |save
                    +remove_button
                    +boolean_edit key='published' label='published' direct=true
                    +image_edit key='image_id' icon='image' label='image' direct=true
                .six.wide.column 
                    +text_edit key='title' direct=true
                    //- +html_edit key='title' label='title' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +html_edit key='module' label='module' icon='content' direct=true
                .six.wide.column 



template(name='module_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .sixteen.wide.center.aligned.column
                    .ui.large.button.goto_course
                        i.up.chevron.icon
                        if course.image_id 
                            img.ui.avatar.image(src="{{c.url course.image_id }}")
                        |#{course.title}
            .row
                .three.wide.column
                    .ui.header module view 
                    if can_edit
                        a.ui.fluid.icon.button(href="/module/#{_id}/edit")
                            i.pencil.icon
                    +voting_full
                .ten.wide.column
                    .ui.header 
                        small title
                        strong #{title}
                    |!{module}
                    .ui.header 
                        |total
                    .ui.inline.header 
                        i.list.grey.icon
                        |sections
                    .ui.icon.button.add_section(title='add section')
                        i.plus.icon 
                    .ui.cards
                        each module_sections
                            a.ui.card(href="/section/#{_id}/view")
                                .content
                                    .ui.small.header #{title}
                                    //- | #{when} by #{_author_username}
                                    |#{correct_percent}
                    .ui.header 
                        |questions
                    .ui.large.list
                        each module_questions
                            .item #{title}
                    div
                        +comments
                .three.wide.column
                    .ui.header(title='stats')
                        i.line.chart.grey.icon
                    .ui.large.list
                        .item #{views} views
                    .ui.header 
                        |students
                    .ui.large.icon.button.next_module
                        i.right.chevron.icon
                        //- |next
                    .ui.list 
                        each students 
                            .item #{username}
                    

template(name='module_stats')
    //- .ui.accordion
    //-     .title
    .ui.header.refresh_module_stats
        i.line.chart.icon
        |stats
    //- i.dropdown.icon
    //- .content
    .ui.big.list
        .item #{views} views
        .item #{reservation_count} reservations
        .item #{total_earnings}c/#{total_module_hours}hrs total
        .item #{average_module_cost}c / #{average_module_duration}hrs avg module





template(name='module_view_template')
    .ui.large.list
        each module_modules
            .item 
                |#{title} #{price}
                .ui.small.compact.icon.button.buy_module
                    +ismall name='buy'
                    |#{buy}
        
        
