template(name='application_view')
    with current_doc
        .ui.stackable.padded.grid
            .five.wide.column
                .ui.header #{title}
                +array_view key='tags' direct=true
                +array_view key='skill_tags' direct=true
                +array_view key='location_tags' direct=true
            .six.wide.column
                img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
                +html_view key='description' direct=true
                +comments
            .five.wide.column
                a.ui.large.basic.button(href="/application/#{_id}/edit")
                    i.pencil.icon
                    |edit
                .ui.header business 
                a.ui.header(href="/business/#{business_id}/view") #{business_doc.title}
                with _author_id
                    +user_card
                with current_doc
                    +voting_full



template(name='application_edit')
    with current_doc
        .ui.stackable.padded.grid
            .five.wide.column
                .ui.header editing application
                .ui.header #{title}
                .ui.header 
                    |business
                    |#{business_id}
                .ui.segment
                    .ui.header 
                        |internship
                        |#{internship_id}
                    +date_view key='start_date' label='start date' direct=true
                    +date_view key='end_date' label='end date' direct=true
            .six.wide.column
                +textarea_edit key='description' label='description' direct=true
            .five.wide.column
                a.ui.small.fluid.button.delete_app
                    i.red.remove.icon   
                    |delete
                a.ui.large.fluid.button(href="/application/#{_id}/view")
                    i.checkmark.green.icon   
                    |save
                a.ui.large.fluid.button
                    +icolor name='internal' classes='ui mini inline image'
                    |submit
