template(name='business_view')
    a.ui.basic.button(href="/m/business")
        |businesses
    with current_doc
        .ui.stackable.padded.grid
            .five.wide.column
                .ui.header #{title}
                +array_view key='tags' direct=true
                +html_view key='description' direct=true
                +image_view key='image_id' direct=true
                +array_view key='location_tags' direct=true
            .six.wide.column
                +comments
                .ui.header
                    +icolor name='work'
                    | internships
                if is_employee
                    .ui.button
                        |add internship
                each business_internships
                    .ui.segment
                        a.ui.header(href="/internship/#{_id}/view") #{title}
            .five.wide.column
                a.ui.large.basic.button(href="/m/business/#{_id}/edit")
                    i.pencil.icon
                    |edit
                .ui.header 
                    +icolor name='briefcase'
                    |employees
                .ui.header 
                    +icolor name='filled-flag'
                    |fans
                if is_fan
                    .ui.icon.compact.button.remove_fan(title='leave fans')
                        i.remove.icon
                else 
                    .ui.icon.button.become_fan(title='become fan')
                        i.plus.icon
                .ui.selection.list
                    each business_fans
                        a.item(href="/user/#{username}") #{username}
                    
                //- 
                //- with _author_id
                //-     +user_card
                //- with current_doc
                //-     +voting_full



template(name='business_edit')
    with current_doc
        .ui.stackable.padded.grid
            .four.wide.column
                .ui.header editing business
                .ui.header #{title}
                .ui.header 
                    +icolor name='shield'
                    |employees
                each employees
                    a.ui.button(href="/user/#{username}") #{username}
                .ui.header 
                    +icolor name='work'
                    |internships
                .ui.basic.button.add_internship
                    i.plus.icon
                    |internship
                .ui.selection.list
                    each internships
                        a.item(href="/m/internship/#{_id}") #{title}
            .eight.wide.column
                +textarea_edit key='description' direct=true
            .four.wide.column
                a.ui.large.fluid.button(href="/m/business/#{_id}/view")
                    i.checkmark.green.icon   
                    |save     
                .ui.fluid.button.delete_internship
                    i.remove.red.icon   
                    |delete
