template(name='internship_view')
    with current_doc
        .ui.stackable.padded.grid
            .five.wide.column
                .ui.header #{title}
                +array_view key='tags' direct=true
                +array_view key='skill_tags' direct=true
                +array_view key='location_tags' direct=true
            .six.wide.column
                img.ui.large.rounded.image(src="{{c.url image width=500 height=500 gravity='face' crop='fill'}}")
                +html_view key='description' direct=true
                +comments
                .ui.header 
                    +icolor name='invoice'
                    |applications
                unless has_applied
                    .ui.basic.button.apply
                        i.green.edit.icon
                        |apply
                .ui.selection.animated.large.list
                    each internship_applications
                        a.item(href="/application/#{_id}/view")
                            .content
                                .header #{_author_username} #{when}
            .five.wide.column
                a.ui.large.basic.button(href="/internship/#{_id}/edit")
                    i.pencil.icon
                    |edit
                .ui.header business 
                a.ui.header(href="/business/#{business_id}/view") #{business_doc.title}
                with _author_id
                    +user_card
                with current_doc
                    +voting_full



template(name='internship_edit')
    with current_doc
        .ui.stackable.padded.grid
            .five.wide.column
                .ui.header editing internship
                .ui.header #{title}
                +text_edit key='title' label='title' direct=true
                +array_edit key='skill_tags' label='skill tags' direct=true
                +array_edit key='location_tags' direct=true
                .ui.header 
                    |business
                    |#{business_id}
                +date_edit key='start_date' label='start date' direct=true
                +date_edit key='end_date' label='end date' direct=true
            .six.wide.column
                +textarea_edit key='description' label='description' direct=true
            .five.wide.column
                a.ui.large.fluid.button(href="/internship/#{_id}/view")
                    i.checkmark.green.icon   
                    |save     
