template(name='work')
    .ui.padded.stackable.grid
        .row
            .twelve.wide.column
                .ui.inline.header 
                    +i name='work' classes='ui avatar image'
                    |work
                .ui.label #{work_stats_doc.total_count} total
                .ui.label #{work_stats_doc.complete_count} complete 
                .ui.label #{work_stats_doc.incomplete_count} incomplete 
                .ui.label #{work_stats_doc.total_updates_count} total updates 
                .ui.icon.button.recalc_work(title='recalculate')
                    i.refresh.icon
            .four.wide.column   
                .ui.icon.big.button.add_work
                    i.large.plus.icon
                    //- |work
        .five.column.row
            .column
                +my_assignments
            .column
                +most_unanswering_people
            .column
                +most_missed_people
            //-     +my_building_work
            .column
                +highest_bounty
            .column
                +latest_work
            //- .column
            //-     +most_viewed_work
        .five.column.row
            .column
                +fasted_responders
            .column
                +my_projects
            //- .column
            //-     +my_unit_work
            //- .column
            //-     +my_building_work
            .column
                +latest_work_log_entries
            .column
                +latest_work_comments
            .column
                +upcoming_due_dates


template(name='my_projects')
    +ismall name='project'
    .ui.inline.header 
        |my projects
    

template(name='most_unanswering_people')
    +ismall name='cancel'
    .ui.inline.header.recalc_unanswered
        |most unanswered
    each unanswering_people
        .ui.small.header #{first_name} #{last_name}
        |#{unanswered} unanswered
        
    

template(name='most_missed_people')
    +ismall name='close-window'
    .ui.inline.header.recalc_unanswered
        |most missed
    each unanswering_people
        .ui.small.header #{first_name} #{last_name}
        |#{unanswered} unanswered
        
    
template(name='fasted_responders')
    +ismall name='running-rabbit'
    .ui.inline.header
        |fastest responders
    each fastest_responders
        .ui.small.header #{first_name} #{last_name}
        |#{unanswered} response time
        
    

template(name='latest_work_comments')
    +ismall name='comments'
    .ui.inline.header 
        |latest work comments
    

template(name='latest_work_log_entries')
    +ismall name='news'
    .ui.inline.header
        |latest work log entries
    

template(name='upcoming_due_dates')
    +ismall name='clock'
    .ui.inline.header 
        |upcoming due dates
    


template(name='my_assignments')
    .ui.header 
        +i name='user-male'
        |my assignments
    .ui.list
        each my_assigments
            +work_item
        
template(name='my_unit_work')
    .ui.header 
        +i name='room'
        |my unit work
    .ui.list
        each my_unit_work
            +work_item
        
        
template(name='all_work')
    .ui.header 
        +i name='work'
        |work
    .ui.list
        each all_work
            +work_item
        
        
template(name='latest_work')
    .ui.header 
        +i name='work'
        |latest
    .ui.list
        each latest_work
            +work_item
        
template(name='highest_bounty')
    .ui.header 
        +i name='money'
        |highest bounty
    .ui.list
        each work_with_bounty
            +work_item
        
template(name='most_viewed_work')
    .ui.header 
        +i name='podium-with-audience'
        |most viewed
    .ui.list
        each most_viewed
            +work_item
        
        
template(name='my_building_work')
    .ui.header 
        +i name='building'
        |building #{my_building.code} work
    .ui.list
        each my_building_work
            +work_item

template(name='work_item')
    a.item(href="/work/#{_id}/view")
        .ui.small.header 
            if complete
                i.checkmark.small.icon(title='incomplete')
            else
                i.circle.outline.small.icon(title="completed on {{short_date completed_date}}")
            |#{title}
        .content
            |#{when} by #{_author_username} #{building_number} #{unit_number}
            if assigned_to_username
                .ui.label(title="assigned to #{assigned_to_username}")
                    i.right.chevron.icon
                    |#{assigned_to_username}
            if bounty
                span(title='bounty')
                    i.grey.money.icon
                    |#{bounty_amount}



template(name='work_edit')
    with current_doc
        .ui.stackable.padded.grid
            .three.column.row
                .column 
                    .ui.header 
                        i.pencil.icon
                        |edit work '#{title}'
                    a.ui.big.fluid.button(href="/work/#{_id}/view" title='save')
                        i.checkmark.large.icon
                        |save
                    +remove_button
                    +boolean_edit key='residence' icon='room' direct=true
                        if residence
                            +number_edit key='unit_number' icon='room' label='unit number' direct=true
                            +number_edit key='building_number' icon='building' label='building number' direct=true
                    +array_edit key='tags' label='tags' icon='tags' direct=true
                    +array_edit key='location_tags' label='location tags' icon='marker' direct=true
                    +boolean_edit key='need_to_schedule' icon='clock' label='need to schedule' direct=true
                    +multi_doc_edit key='view_roles' ref_model='role' label='visible to' direct=true
                    +multi_doc_edit key='acceptance_roles' ref_model='role' label='acceptable roles' direct=true
                .column 
                    +text_edit key='title' label='title' icon='title' direct=true
                    +image_edit key='image' label='image' icon='image' direct=true
                    +html_edit key='description' label='description' icon='content' direct=true
                    .ui.header
                        +i name='calendar'
                        |due date
                    .ui.header
                        +i name='calendar'
                        |completion date
                    .ui.header
                        +i name='calendar'
                        |start date
                    +boolean_edit key='has_hourly_rate' label='hourly rate' icon='money' direct=true
                    if has_hourly_rate
                        +float_edit key='hourly_rate_amount' label='hourly rate amount' direct=true
                    .ui.dividing.header 
                        +ismall name='clock'
                        |time
                    +boolean_edit key='duration' label='duration' direct=true
                    if duration
                        +float_edit key='duration_hours' label='hours' direct=true
                        +date_edit key='start_date' label='start date' direct=true
                        +time_edit key='start_time' label='start time' direct=true
                        +date_edit key='end_date' label='end date' direct=true
                        +time_edit key='end_time' label='end time' direct=true
                .column 
                    +single_user_edit key='reported_by' label='reported by' icon='group-task' direct=true
                    +single_user_edit key='assigned_to_username' icon='checked-user-male' label='assigned to' direct=true
                    +boolean_edit key='requires_verification' icon='approval' label='requires verification' direct=true
                    if requires_verification
                        +single_user_edit key='verification_required_by_username' label='verification required by' direct=true
                    +boolean_edit key='approval_required' icon='approval' label='requires verification' direct=true
                    if approval_required
                        +single_user_edit key='approval_required_by_username' label='approval required by' direct=true
                    +boolean_edit key='open_assignment' label='open assignment' direct=true
                        if open_assignment
                            +text_edit key='open_assignment_notes' label='open assignment notes'
                    +boolean_edit key='bounty' label='bounty' icon='donate' direct=true
                    if bounty
                        +text_edit key='bounty_description' label='bounty description' direct=true
                        +number_edit key='bounty_amount' icon='coins' label='bounty amount' direct=true
                    +boolean_edit key='request' label='request' direct=true
                    if request
                        div
                        +single_user_edit key='request_username' direct=true
                     
template(name='work_view')
    with current_doc
        .ui.stackable.padded.grid
            .row
                .sixteen.wide.column 
                    a.ui.large.button(href="/work")
                        i.left.chevron.icon
                        //- +i name='work' classes='ui avatar image'
                        |work
                    h1.ui.inline.header 
                        if complete 
                            i.checkmark.icon
                        else
                            i.circle.outline.grey.pointer.icon.mark_complete(title='mark complete')
                        |#{title}
                    a(href="/work/#{_id}/edit")
                        i.pencil.large.link.icon
            .three.column.row
                .column 
                    +voting_full
                    .ui.header submitted #{_timestamp_long}
                    each _timestamp_tags
                        .ui.label #{this}
                    +viewing
                    +array_view key='view_roles' label='visible to' direct=true
                    +array_view key='acceptance_roles' label='acceptable roles' direct=true
                    +single_user_view key='assigned_to_username' label='assigned to' icon='user-male' direct=true
                    +single_user_view key='reported_by' label='reported by' icon='group-task' direct=true
                    +boolean_view key='requires_verification' label='requires verification' direct=true
                    if requires_verification
                        +single_user_view key='verfication_required_by_username' label='verification required by' direct=true
                    +boolean_view key='open_assignment' label='open assignment' direct=true
                        if open_assignment
                            +text_view key='open_assignment_notes' label='open assignment notes'
                    +boolean_view key='bounty' label='bounty' direct=true
                    if bounty
                        +text_view key='bounty_description' label='bounty description' direct=true
                        +number_view key='bounty_amount' label='bounty amount' direct=true
                    +boolean_view key='request' label='request' direct=true
                    if request
                        div
                        +text_view key='request_description' label='request description' direct=true
                    +boolean_view key='bounty' label='bounty' direct=true
                    .ui.header 
                        +i name='line-chart'
                        |stats
                    .ui.small.header #{views} views
                    .ui.small.header #{points} points
                    .ui.small.header status: #{status}
                .column 
                    +number_view key='unit_number' label='unit_number' direct=true
                    +number_view key='building_number' label='building_number' direct=true
                    div
                    +array_view key='tags' label='tags' icon='tags' direct=true
                    div
                    +boolean_view key='need_to_schedule' icon='clock' label='need to schedule' direct=true
                    .large150
                        +html_view key='description' icon='content' label='description' direct=true
                    +image_view key='image' icon='image' label='image' direct=true
                    +boolean_view key='published' label='published' direct=true
                
                    +comments
                .column
                    +work_activity_full
                    
                    
                    
template(name='work_activity_full')                    
    .ui.header 
        +i name='rss'
        |activity
    .ui.feed
        each work_activity
            .event
                .label
                    img.ui.avatar.image(src="{{c.url author.kiosk_photo width=200 height=200 gravity='face' crop='fill'}}")
                .content
                    .summary 
                        |#{text}
                    .meta #{when}
                        if is_admin
                            +remove_button
