template(name='single_doc_view')
    div
    if field_value
        .ui.inline.header(title=key)
            |#{title}
        a.ui.basic.button(href="/m/#{related_doc.model}/#{related_doc._id}/view")
            if related_doc.image_id
                img.ui.avatar.image(src="{{c.url related_doc.image_id width=200 height=200 gravity='face' crop='fill'}}")
            |#{related_doc.title}
            //- |#{field_value}



template(name='single_doc_edit')
    .ui.inline.header(title=key) 
        |#{label} #{title}
    each choices
        .ui.compact.small.button.select_choice(class=choice_class)
            if icon 
                i.icon(class=icon)
            if color_icon
                +icolor name=color_icon classes='ui avatar image'
                //- i.icon(class=icon)
            |#{title}
            //- |#{calculated_label}
            //- |#{slug}


template(name='multi_doc_edit')
    .ui.inline.header(title=key)
        |#{title} #{label}    
    each multi_choices
        .ui.compact.button.select_choice(class=choice_class)
            if image_id
                img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
            if icon 
                +icolor name=icon
                //- i.icon(class=icon)    
            //- |#{slug}
            if title
                |#{title}
            else 
                | #{slug}
    //- .ui.sub.header 
    //-     if icon
    //-         i.icon(class=icon)
    //-     |#{title}
    //- select.ui.fluid.multiple.selection.dropdown(multiple='')
    //-     each choices
    //-         option(value=slug) #{title} #{unit_number}
    //- .ui.fluid.multiple.selection.dropdown
    //-  // input(type='hidden' name='multi_doc')
    //-  // i.dropdown.icon
    //-  // .default.text 
    //-  //     |#{title}
    //-  // .menu
    //-  //     each choices
    //-  //         .item(data-value=slug) 
    //-  //             if icon
    //-  i.icon(class=icon)
    //-  //             |#{title}
    

template(name='multi_doc_view')
    div
    if field_value
        .ui.inline.header(title=key)
            |#{title} #{label}
        each field_value
            +referenced_doc
            
template(name='referenced_doc')            
    a.ui.basic.button(href="/m/#{context_doc.model}/#{context_doc._id}/view")
        |#{context_doc.title}



template(name='single_user_edit')
    div
    .ui.inline.small.header 
        |#{label} #{title}
    if field_value
        .pull_user.ui.icon.compact.button(title='remove user')
            i.remove.icon
            //- |clear #{field_value}
    unless field_value
        .ui.input
            input#single_user_select_input(type='text' placeholder='lookup user..')
            each selections
                .ui.basic.label
                    |#{first_name} #{last_name} #{username} 
        if user_results
            .ui.attached.smoothed.segment
                .ui.middle.aligned.selection.animated.list
                    each user_results
                        .select_user.item
                            h4.ui.header
                                img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
                                |#{first_name} #{last_name} #{username}
    //- if field_value
    //-     +user_info
        //- +user_card field_value
        //- |#{this}
        //- .item
        //-     .right.floated.content
        //-         i.pull_user.remove.link.icon
        //-     .image
        //-         img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='fill'}}")
        //-     .content
        //-         h4.ui.header
        //-             |#{first_name} #{last_name}
        //-             @#{username}


template(name='single_user_view')
    if field_value
        div
        .ui.inline.header 
            |#{title}
            |#{label}
        with field_value
            .ui.inline.header #{field_value}
                +username_info
            
